body,html{
	min-width: 100%;
	height: 100%;
	position: relative;
}
#Cal  {
	position: relative;
	display: flex;
	justify-content: center;
	/*prevents the other table from being displayed*/
	overflow-x:hidden;
}
#Cal #months{
	/*works in chrome, firefox, IE*/
	display: -webkit-inline-box !important; /*chrome*/
	display: inline-flex; /*IE and Moz*/
	padding-right: 15%;
	padding-left: 15%;
}
#Cal .mName{
	/*prevents the other tables from being displayed*/
	margin-right: 100%;
	display: none;
}

#Cal .mName div h1{
	display: inline;
}
#Cal td div{
	width: 100px;
	height: 20px;
	margin-right: auto;
	margin-left: auto;
}
#Cal div.circbox {
	padding:5px;
}

#Cal .circle{
	width: 10px;
    height: 10px;
    border:3px solid transparent;
    border-radius: 50%;
    background-color: #E7C124;
}
#Cal th, #Cal td{
	text-align: center;
}
#Cal #content li{
	list-style-type: none;
}
#btncont{
	width: 100%;
	position: absolute;
	margin-left: 70%;
	z-index: 999;
}
#gl{
	float: left;
}
#gr{
	/*float: right;*/
}
@-moz-document url-prefix() {
  /* Firefox specifc */
  fieldset { display: table-cell; }
  #Cal #months{
		adjustment for firefox
		display: inline-flex;
		padding-right: 15%;
		padding-left: 15%;
		overflow: hidden;
	}
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















