#Cal  {
	position: relative;
	display: flex;
	justify-content: center;
	/*prevents the other table from being displayed*/
	overflow-x:hidden;
}
#Cal #months{
	/*works in chrome, firefox, IE*/
	display: -webkit-inline-box !important; 
	display: inline-flex; 
	padding-right: 17%;
	padding-left: 16%;
}
#Cal .mName{
	/*prevents the other tables from being displayed*/
	margin-right: 100%;
	display: none; 
}
#Cal .mName div h1{
	display: inline;
}
#Cal td div{
	width: 100px;
	height: 20px;
	margin-right: auto;
	margin-left: auto;
}
#Cal td{
	min-width:50%;
}
#Cal div.circbox {
	padding:5px;
}
#Cal th, #Cal td{
	text-align: center;
}
#Cal #content li{
	list-style-type: none;
}
#btncont{
	/*width: 100%;
	position: absolute;*/
	margin-left: 70%;
	z-index: 999;
}
#gl{
	float: left;
}